.header-wrap
  height: 60px
  .navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 99
    background-color: rgba(0,0,0,0.5)
    flex-direction: row
  .navbar-brand
    color: white
  .nav-item
    a.nav-link
      color: white
      padding-left: $gutter
      padding-right: $gutter
  .navbar-nav
    flex-direction: row
    margin-left: auto